.footer{
  background-color: #582425;
}


.icone{
  font-size: 1em;
  color: #fff;
  margin-left: 5px;  
}

.icone:hover{
opacity: 0.5;

}

.container-fluid{
  padding-top: 5px;
}

.borda-secao{
  height: 15px;
  background-image: url('../img/stripes.png');
}

.glyphicon-circle-arrow-up{
  padding-top: 3px;  
  color: #FFF;
}

a:hover{
  text-decoration: none;
}

