*{
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

/*Secao historia*/
#historia{
  margin: 60px 0 60px 0;
  background-color: rgba(83, 42, 41);
  border-radius: 20px;
}

#historia h2{
  font-size: 2.5em;
  color: #fff;
  padding: 10px 0 0 10px;
}

#historia > p{
  font-size: 1.5em;
  font-family: "Arial ";
  font-weight: lighter;
  padding-top: 15px;
  color: #fff;
  text-align: left;
  padding: 10px 10px 10px 10px;
}

#logo{
  width: 30%;
  padding-right: 20px;
  padding-bottom: 10px;
}

@media (max-width:480px) {

  #logo{
    width: 100%;
  }

  #historia > h2{
    display: none;
  }

  #historia > p{
    text-align: justify;
    font-size: 1.8em;    
  }
}


/*Fim da seção história*/

/*Secao horarios*/
#barberpub-rdwc{
  background-image: url('../img/barberpub-rdwc.jpg');
  background-attachment: fixed;
  height: 600px;
  width: 100%;
}

.progamacao{
  margin-top: 200px;
  width: 100%;
  display: inline-block !important;
  text-align: center;
  align-items: stretch;
}

.box{
  border-radius: 200px;
  border: 4px solid #FFF;
  width: 180px;
  height: 180px;
  display: inline-block;
  margin-right: 20px;
}

.dia{
  color: #FFF;
  font-size: 2.3em;
  font-weight: bold;
  display: inline-block;
  margin: 40px 0 0 0;
  line-height: 30px;
  padding-top: 10%;
}

.horario{
  color: #FFF;
  font-size: 1.3em;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  padding-top: 5%;
}

@media (max-width:480px) {
  .box{
    width: 120px;
    height: 120px;
    padding-bottom: 10px;
    font-size: 1em;
    margin-right: 20px;
    margin-bottom: 25px;
  }

  .dia{
    padding-bottom: 10px;
    margin: 10px;
  }

  .horario{
    padding-top: 0;
  }

  .progamacao{
    margin-top: 90px;
  }
}
/*Fim da Secao horarios*/

/*Secao equipe*/
#nossa-equipe{
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

}

#nossa-equipe > h1{
  font-weight: bold;
  font-size: 2.6em;
  color: #582425;
  text-align: center;
}

#fotos-da-equipe-1{
  margin-left: 8%;
  margin-top: 5%;
}

#fotos-da-equipe-2{
  margin-left: 8%;
  margin-top: 5%;
}

.equipe{
  border-style: none;
  border-radius: 0;
  width: 80%;
  height: 350px;
  width: 250px;
  border-style: none !important;
}

@media screen and (max-width: 768px){
  .equipe{
    margin-top: 30px;
  }
  
  #galeria-de-fotos{
    width: 90% !important;
  }
}

.foto-equipe{
  filter: grayscale(100%);
}

.foto-equipe:hover{
  filter: grayscale(0);
}

.descricao-equipe{
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
  color: #582425;
}

/*Fim da secao equipe*/

/*Secao Frases*/
.frases{
  font-size: 3em;
  padding-top: 20px;
  color: #fff;
  text-align: center;
}

#frase-fixa{
  padding-top: 20px;
}

#filosofia-da-empresa{
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

#nossa-filosofia{
  background-image: url('../img/barbearia-11.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-image: url('../img/acessorios-barbearia-2.jpg');
  -webkit-background-repeat: no-repeat;
  -webkit-background-attachment: fixed;
  padding-top: 5%;
  height: 450px;

}

#nossa-filosofia > h3{
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 60px;
}

.barra-sublinhado-servicos{
  border-bottom: solid 2px #582425;
  width: 120px;
  margin: 0 auto;
  height: 2px;
}

.cursor{
  display: none;
}
/*Fim da secao Frases*/

/* Galeria de Fotos */
#galeria-de-fotos{
  padding-top: 60px;  
  width: 65%;
  margin-top: 5%;
  left: 18%;
  margin-bottom: 5%;
}

#slide-fotos{
  padding-top: 60px;
}

#galeria-de-fotos > h1{
  font-weight: bold;
  font-size: 2.6em;
  color: #582425;
  text-align: center;
  
}
/* Fim da galeria de fotos */

/*Secao fotos clientes*/
#secao-dos-clientes {
  padding-top: 60px;
  padding-bottom: 60px;
}

#secao-dos-clientes > h1{
  font-weight: bold;
  font-size: 2.6em;
  color: #582425;
  text-align: center;
}

#fotos-dos-clientes{
  padding-left: 7%;
}

@media (max-width: 480px) {
  #fotos-dos-clientes{
    text-align: center;
    padding: 0;
  }
}

.album{
  margin-top: 120px;
  background-color: transparent;
  border-style: none;
  border-radius: 0;
  width: 65%;
  margin-bottom: 120px;
}

.img-comp-container {
  position: relative;
  height: 200px; /*should be the same height as the images*/
  display: inline-block;
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow:hidden;

}

.img-comp-img img {
  display:block;
  vertical-align:middle;
}

.img-comp-slider {
  position: absolute;
  z-index:9;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
}
/*Fim da secao fotos clientes*/

/*Barra sublinhada das secoes*/
.barra-sublinhado{
  border-bottom: solid 2px #582425;
  width: 120px;
  margin: auto;
  height: 2px;
}
